.App {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(5, 1fr)
}

header{
  margin: 1%;
  grid-area: 1 / 2 / 2 / 5
}

main {
  margin: 0 2%;
  grid-area: 2 / 1 / 5 / 6;
  
}

main > * {
  display: grid;
  grid-gap: 1em;
  grid-template: repeat(3, 15%) / repeat(5, 15%);
  justify-content: center;
}

